@charset "UTF-8";

body{
    background-color:lightgray;
}

      .logo{ 
        background-color: blueviolet;
        text-align: center;
    }

    .caixas{
        text-align: center;
        background-color:   blueviolet;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px black;
    }

 